// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #0B4F6C;
$yellow: #FDB631;
$orange: #E67E22;
$green: #00ab9d;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #FBFBFF;
$grey: #757575;
$light-blue: #01BAEF;
