// Specific CSS for your home-page
.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 160px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-bottom: 30px;
}

.card {
  height: 220px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-list p {
  padding-left: 15px;
  padding-right: 15px;
}

.card-sub {
  height: 280px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-user {
  position: absolute;
}
.card-category {
  text-align: center;
  width: 100%;
  font-size: 30px;
  display: block;
  margin-top: 30px;
}
.card-description {
  position: absolute;
  top: 70px;
  text-align: center;
  width: 100%;
}
.card-description h2 {
  font-size: 24px;
  color: #333;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.card-phrase{
  position: absolute;
  top: 150px;
  text-align: center;
  width: 100%;
  font-size: 15px;
}

.card-phrase{
  color: #333;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.small-banner{
  height:140px;
  background-color: #0B4F6C;
}
.small-banner h4 {
  text-align: center;
  margin-top: 80px;
  padding: 20px 0px;
  border-radius: 2px;
}

.card-subheader h4{
  box-shadow: 0 4px 8px 0 rgba(123,142,189,0.35);
  background-color: white;
  max-width: 75vw;
  padding: 0.8em;
  margin-top: 70px;
}

.white-row{
  background-color: white;
}

.daddy-container{
  margin-top: 70px !important;
}

.banner-bottom {
  color: white;
  text-align: center;
  height: 250px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container-values{
  min-height: 400px;
  text-align: center;
}

.card-values{
  text-align: center;
  margin : 0px 15px;
}

#icon-g{
  color: rgb(260,260,260);
  background-color: #2BBBAD;
  padding-top: 12px;
}

.card-values p{
  margin-top: 30px;
  font-size: 14px;
}

.text-content h2{
  font-size: 32px;
}

.fa, .far, .fas {
    font-weight: 900;
    padding-top: 15px;
}

.category .fa, .far, .fas {
  font-weight: 900;
  // background-color: #2bbbad;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
