<!-- new.html.erb -->
<div class="test-form-one">
  <div class="row reset-boot">
    <div class="col-sm-6">
      <%= render 'form_houses', house: @house %>
    </div>
    <div class="col-sm-6 stop-overflow full-height" style="background-image: url('https://images.pexels.com/photos/158571/architecture-about-building-modern-158571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
    </div>
  </div>
</div>
