<!-- show.html.erb -->
<%= render 'shared/banner-show' %>
<div class="show-margin">
  <div id="show-house">
    <div class="row reset-boot" id="link-information">
        <div class="col-md-8 col-lg-8">
          <%= render 'shared/house-information' %>
        </div>
        <div class="col-md-4 col-lg-4 content-right">
          <%= render 'shared/document-juridiques' %>
        </div>
    </div>
  </div>
</div>
