<div class="row reset-boot">
  <div class="col-md-8 col-lg-8 reset-boot">
    <div class="content-top" style="background-image: linear-gradient(-225deg, rgba(0,50,50,0.6) 0%, rgba(0,66,61,0.3) 10%), url(<%= @house.photo.url.nil? ? 'https://images.pexels.com/photos/323780/pexels-photo-323780.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' : @house.photo %>) ;">
      <div class="house-description-show">
        <img class="avatar-large avatar-border" src="https://kitt.lewagon.com/placeholder/users/MateoDDB">
      </div>
<!--       <div class="house-description-show text-center">
        <i class="fas fa-home"></i>
        <p><%#= @house.house_type %></p>
      </div> -->
      <div class="house-description-show text-center">
        <p>
          <%= @house.price %> €
        </p>
      </div>
<!--       <div class="house-description-show text-center">
        <i class="fas fa-calendar-alt"></i>
        <p><%#= @house.created_at.strftime("%d/%m/%Y") %></p>
      </div> -->
    </div>
  </div>
  <div class="col-md-4 col-lg-4 reset-boot">
    <div class="map-adress">
      <div id="mapid" data-markers=" <%= @markers.to_json %>"></div>
      <div class="address-map">
        <p>
          <i class="fas fa-map-marker-alt"></i>
          <%= @house.address %>
        </p>
      </div>
    </div>
  </div>
</div>
