<!-- <div class="row ">
<div class= "z-depth-1 text-center">
    <div class="col-sm-4 col-xs-12" >
      <p class="titre-activites"> Activité 2018 </p>
    </div>
    <div class="col-sm-4 col-xs-12" >
      <p class="index-name"> Ventes </p>
      <p class="index-numb"> 56 </p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <p class="index-name"> Avis de valeurs</p>
      <p class="index-numb"> 85 </p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <p class="index-name">Visites</p>
      <p class="index-numb">345</p>
    </div>
    <div class="col-sm-4 col-xs-12">
      <p class="index-name">Mandats dénoncés </p>
      <p class="index-numb"> 20 </p>
    </div>
  </div>
</div> -->

<div class="row box-numb">
  <div>
    <p class="titre-activites"> 2018
      <span class="index-var">
        (diff. 2017) :
      </span>
    </p>
  </div>
  <div>
    <p class="index-name">
      <span class="index-numb">
        156
      </span>
      Ventes
      <i class="fas fa-arrow-up icon-green"></i>
      <span class="index-var-up">
        (+12%)
      </span>
     </p>
  </div>
  <div>
    <p class="index-name">
      <span class="index-numb">
        185
      </span>
      Avis de valeurs
      <i class="fas fa-arrow-down icon-red"></i>
      <span class="index-var-down">
        (-12%)
      </span>
    </p>
  </div>
  <div>
    <p class="index-name">
      <span class="index-numb">
        345
      </span>
      Visites
      <i class="fas fa-arrow-down icon-red"></i>
      <span class="index-var-down">
        (-5%)
      </span>
    </p>
  </div>
  <div>
    <p class="index-name">
      <span class="index-numb">
        20
      </span> Mandats dénoncés
      <i class="fas fa-arrow-down icon-red"></i>
      <span class="index-var-down">
      (-5%)
    </span>
    </p>
  </div>
</div>






