<div class="row ">
  <div class="col-sm-12 col box-padding">
    <div class="box-numb z-depth-1">
      <p class="text-center"> Mandats
        <span class="index-numb">
          <%= @houses.count %>
        </span>
      </p>
      <p class="text-center"> Avis de valeurs
        <span class="index-numb">
          5
        </span>
      </p>
      <p class="text-center">Offres
        <span class="index-numb">
          4
        </span>
      </p>
      <p class="text-center">Compromis de vente
        <span class="index-numb">
          3
        </span>
      </p>
    </div>
  </div>
</div>

