<div class="row">

  <div class="boxes">
    <div class="col-md-3 col-xs-12 box-numb z-depth-2">
      <p class="text-center"><%= @houses.count %> </p>
      <h2>Mandats</h2>
    </div>

    <div class="col-md-3 col-xs-12 box-numb z-depth-2">
      <p class="text-center">5</p>
      <h2>Avis de valeurs</h2>
    </div>

    <div class="col-md-3 col-xs-12 box-numb z-depth-2">
      <p class="text-center">4</p>
      <h2>Offres</h2>
    </div>

    <div class="col-md-3 col-xs-12 box-numb z-depth-2">
      <p class="text-center">3</p>
      <h2>Compromis de vente</h2>
    </div>
  </div>
</div>
