<div class="boxes">
  <div class="box-numb">
    <h1>Total de biens en mandats</h1>
    <p class="text-center"><%= @houses.count %> </p>
  </div>

  <div class="box-numb">
    <h1>Nouveaux avis de valeurs</h1>
    <p class="text-center"> 5</p>
  </div>

  <div class="box-numb">
    <h1>Nouvelles offres</h1>
    <p class="text-center"> 4</p>
  </div>

  <div class="box-numb">
    <h1>Compromis de vente</h1>
    <p class="text-center"> 3</p>
  </div>
</div>
