
<div class="content">
<h1 class="text-center">
  AVENANT MANDAT DE VENTE HORS ÉTABLISSEMENT
</h1>
<h2 class="text-center">
  En application des articles 6 de la loi N°70-9 du 2 janvier 1970 et articles 72 et suivants du décret n°72-678 du 20 juillet 1972
</h2>

NUMÉRO DE MANDAT : “NUMÉRO“ du “DATE“


Identification du mandataire :


  • “DÉNOMINATION SOCIALE“
  • “FORME JURIDIQUE“ (SARL / SAS / EI …)
  • Au “CAPITAL SOCIAL“ de …
  • Sous “L’ENSEIGNE“
  • Dont le siège social est situé au “ADRESSE“
  • Immatriculé sous le “NUMÉRO SIREN“
  • Au “RCS“ de “VILLE“
  • Représenté par “NOM / PRÉNOM“ en sa qualité de “DIRIGEANT“, dument habilité à l’effet des présentes.
  • Numéro individuel d’indentification à la TVA : “NUMÉRO“

  • Titulaire de la carte professionnelle numéro “NUMÉRO“
  • Délivrée le “DATE“ par la chambre de commerce et de l’industrie de “VILLE“

  • Adhérent de la fédération “NOM DE LA FÉDÉRATION“ (OPTIONNEL)

  • Titulaire d’une carte professionnelle portant la mention “ TRANSACTION / GESTION / SYNDIC … “ et d’un titre professionnel d’agent immobilier obtenu en France dont l’activité est régie par la loi n° 70-9 du 2 janvier 1970 (dite « loi Hoguet ») et son décret d’application n° 72678 du 20 juillet 1972.

  • Garanti par “ORGANISME FINANCIER“ situé au “ADRESSE“ pour un montant de “MONTANT“ pour les activités de “ACTIVITÉS“, contrat couvrant la zone géographique suivante : “ZONE GÉOGRAPHIQUE“. Titulaire du compte spécial (article 55 du décret de 20 juillet 1972) n° “NUMÉRO“ en “ACTIVITÉ“ ouvert auprés de “BANQUE“. (OPTIONNEL).

OU

Le professionnel prestataire déclare sur l’honneur ne recevoir aucun fonds, effet ou valeur autre que ceux représentatifs de sa rémunération ou commission.

  • Titulaire d’une assurance en responsabilité civile professionnelle auprès de “ASSURANCE“ situé au “ADRESSE“ sous le numéro de police “NUMÉRO“, couvrant la zone géographique suivante : “ZONE GÉOGRAPHIQUE“.

  • Si Agent commercial indépendant : “NOM / PRÉNOM“
Titulaire de l’attestation de collaborateur numéro “NUMÉRO“
Délivrée le “DATE“ par la chambre de commerce et de l’industrie de “VILLE“

  • Téléphone de l’agence : “NUMÉRO“

  • Fax de l’agence : “NUMÉRO“

  • E-mail de l’agence : “ADRESSE“

-------------------------------------------------------------------

Identification du (des) mandant (s) :

Nous soussignés :

  • Mandant N°1 :

  • Nom :
  • Prénom :
  • Tél* :
*  (vous avez la possibilité de vous inscrire sur www.bloctel.gouv.fr pour vous opposer à tout démarchage téléphonique conformément à l’article L223-1 du Code de la Consommation).
  • E-mail :
  • Adresse :

  • Mandant N°2 :

  • Nom :
  • Prénom :
  • Tél* :
*  (vous avez la possibilité de vous inscrire sur www.bloctel.gouv.fr pour vous opposer à tout démarchage téléphonique conformément à l’article L223-1 du Code de la Consommation).
  • E-mail :
  • Adresse :


Pour les personnes morales :

  • Nom de la société :
  • SIRET :
  • RCS :
  • Siège social :
  • Réprésentant :
  • Né (e) le :
  • À :
  • Adresse :


Après avoir pris connaissance des conditions générales, ci-après, mandatons sans exclusivité par la présente le mandataire agent immobilier afin de rechercher un acquéreur et réaliser toutes démarches en vue de vendre les biens et droit, ci-dessous désignés. Nous Nous engageons à produire toutes justifications de propriété du bien objet du présent mandat. Et en cas d’indivision, nous agissons conjointement, solidairement et indivisiblement EN QUALITÉ DE SEULS PROPRIÉTAIRES.





Il est convenu des modifications suivantes au mandat d’origine :
-------------------------------------------------------------------

Prix de vente et rémunération du mandataire :

  • Changement de prix du bien à vendre :

Le prix du bien présenté à la vente HONORAIRES INCLUS, sauf accord ultérieur des parties et payable comptant le jour de la réitération de l’acte authentique, tant à l’aide de prêts que de fonds propres est désormais de : “PRIX“ TTC.

  • Changement du montant des honoraires :
En cas de réalisation de l’opération avec un acheteur présenté par le mandataire ou un mandataire substitué ou dirigé vers lui, le mandataire aura droit à une rémunération à la charge de “OPTION“ (Il est précisé que le taux de TVA 20,00 % est inclus et qu’il est susceptible de modification conformément à la règlementation fiscale), soit un montant de : “PRIX“ TTC.
Les honoraires prévus au titre de la rémunération du mandataire seront exigibles intégralement le jour où l’opération sera effectivement conclue et réitérée par acte authentique conformément à l'article 74 du décret n° 72-678 du 20 juillet 1972. En cas d’exercice d’un droit de substitution ou de préemption, la rémunération sera due par le substitué ou le préempteur.
Au regard du prix du bien présenté à la vente HONORAIRES INCLUS et du montant des HONORAIRES prévus au présent mandat, le prix de vente NET VENDEUR du bien sera de : “PRIX“ TTC.

-------------------------------------------------------------------

Autres modifications :


___________________________________________________________________________________________
___________________________________________________________________________________________
___________________________________________________________________________________________
___________________________________________________________________________________________
___________________________________________________________________________________________
___________________________________________________________________________________________



-------------------------------------------------------------------

Médiation des litiges :
Tout consommateur a le droit de recourir gratuitement à un médiateur de la consommation en vue de la résolution amiable du litige qui l'oppose à un professionnel. A cet effet, le professionnel garantit au consommateur le recours effectif à un dispositif de médiation de la consommation, en vertu des articles L 152-1 et suivants du Code de la consommation ; vous pouvez trouver les coordonnées du médiateur sectoriel sur https://www.economie.gouv.fr/mediation-conso
Conformément à l’article L 152-2 d) du Code de la consommation, un litige ne peut être examiné par le médiateur de la consommation lorsque le consommateur a introduit sa demande auprès du médiateur dans un délai supérieur à un an à compter de sa réclamation écrite auprès du professionnel.


-------------------------------------------------------------------
Prévention et règlement des litiges et réclamations :
En cas de litige, toutes contestations relatives à l’application ou à l’interprétation du mandat seront régies par le droit français. Tout litige fera l’objet au préalable d’une concertation afin de trouver une solution amiable, à défaut la partie la plus diligente saisira le tribunal du lieu du domicile du défendeur conformément à l’article 42 du Code procédure civile.
Le (s) mandant (s) reconnaît avoir pris connaissance des conditions générales du mandat.
Fait et signé en “NOMBRES“ exemplaires, dont l’un est remis au mandant qui le reconnaît et l’autre étant conservé par le mandataire.
Mots nuls “NOMBRES“
Lignes nulles “NOMBRES“
À “LIEU“ le “DATE“
Signature du (des) mandant (s)
Signature du mandataire




