.index-numb {
  font-weight: bolder;
  color: $brand-success;
  font-size: 30px;
}

.titre-activites{
  text-align: center;
  margin: 0 0 0 0;
  height: 20px;
  font-weight: bolder;
  font-size: 30px;
}

.index-var{
  font-style: italic;
  font-size: 12px;
}

.iconcog{
  color: $brand-info !important;
  height: 30px !important;
  padding-top: 0px !important;
}

.icon-small{
  height: 27px;
}

.filter-card{
  background-color: $white;
  height: 80px;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
     a{
      color: black;
      text-decoration: none;
  }
    &:hover {
    transform: scale(1.01);
    border: solid 1px #114f6b;
  }
}

.filter-card p{
  margin-bottom: 0px;
}


.grey-back {
  // background-color: rgb(220,220,220);
  font-weight: bolder;
  border: solid 2px #114f6b;
}
