.index-numb {
  font-weight: bolder;
  color: $brand-success;
  font-size: 20px;
}

.titre-activites{
  text-align: center;
  margin: 0 0 0 0;
  height: 20px;
  font-weight: bolder;
  font-size: 30px;
}

// .category .fa, .far, .fas i{
//   padding-top: 0px !important;
// }

// .category .fa, .far, .fas{
//   height: 19px !important;
//   width: 20px !important;
//   padding-top: 0px !important;
// }

// .index-var-up{
//   font-style: italic;
//   color: green;
//   font-size: 8px;
// }

// .index-var-down{
//   font-style: italic;
//   color: red;
//   font-size: 8px;
// }

.index-var{
  font-style: italic;
  font-size: 12px;
}

.iconcog{
  color: $brand-info !important;
}

.filter-card{
  background-color: $white;
  width: 200;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
     a{
      color: black;
      text-decoration: none;
  }
    &:hover {
    transform: scale(1.01);
    background-color: rgb(220,220,220);
  }
}
