.full-footer{
  background-color: #0B4F6C;
}

.columns-footer{
  text-align: center;
  margin-top: 20px;
}

.columns-footer h5{
  color: white;
  font-weight: 600;
}

.columns-footer a{
  color: white;
  text-decoration: none;
}

.columns-footer a:hover,
 {
  color: #dcdcdc;
}

.fa-facebook-f:hover {
    color: #0077e2;
}

.fa-google-plus-g:hover {
    color: #ef1a1a;
}

.fa-twitter:hover {
    color: #00aced;
}

.social-networks {
    color: white;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

.social-networks{
  margin-top: 10px;
  margin-bottom: 20px;
}
