.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background-color: $white;
  border-radius: 5px;
  margin: 20px 0px;
  color: $blue;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
}

.message-hover:hover {
  text-decoration: none !important;
}

.message-date {
  padding-left: 10px;
  font-size: 13px;
}
.message-status {
  padding-left: 10px;
  font-size: 13px;
}
.message-type {
  padding-left: 10px;
  font-size: 13px;
}
.message-name {
  padding-left: 10px;
  font-size: 13px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
}
.message-name h3 {
  font-size: 20px;
}
.message-name p {

}

.message-body strong{
}
.message-body p {

}
.status.accepted {
}
.status.declined {
}
.status.pending {
}

.logo-and-search-bar {
  display: flex;
  align-items: center;
}

.logo-search-bar i {
  color: $grey;
  margin-right: 10px;
}

.search-bar form{
  min-width: 350px;
}
