.container-show{
  width: 100%;
  margin: 30px auto;
}
.line{
  padding: 5px 0 5px 30px;
  border-left: 4px solid $blue;
  i {
    font-size: 24px;
  }
  p {
    margin-bottom: 0px !important;
  }
  .far.fa-file-alt {
    color: $white;
  }

  .fas.fa-pen-square {
    color: #FF0000;
  }
  .far.fa-calendar-alt {
    color: $grey;
  }
}
.p-show-doc{
  text-align: center;
  border:1px solid $blue;
  border-radius: 4px;
  color: $blue;
  margin: 30px 0;
  position: relative;
}
.p-show-doc:before{
  content: '';
  position: absolute;
  left: -40px;
  top: 7px;
  width: 10px;
  height: 10px;
  border: 3px solid #D2FAFB;
  border-radius: 50%;
  background-color: $blue;
}
.p-show-doc:after{
  content: '';
  position: absolute;
  left: -18px;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 10px solid $blue;
}

.show-doc-name {
  font-size: 28px;
  color: $white;
}

.show-doc-status {
  font-size: 24px;
  color: #FF0000;
}

.show-doc-types-changed {

}

.show-doc-time {
  color: $grey;
  font-size: 16px;
}

#avatar-margintop{
  margin-top: 10px;
}


.show-doc-name, .show-time-status, .show-doc-types-changed, .show-doc-time {
  margin: 0px 15px !important;
}

.show-margin {
  margin: 10px 0px !important;
}

.doc-type {
  background: $blue;
  color: $white;
}
