.container{
  width: 100% !important;
}

.red-background{
  background-color: red !important;
}

.material-icons:hover {
  cursor: pointer;
}

.radio_buttons {
  display: flex;
}


.collection_radio_buttons {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top : 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 30%;
  text-align: center;

  &:hover{
    background-color: rgba(38, 166, 154, 0.7);
    cursor: pointer;
  }

}

.btn-inline {
  display: inline-block;
}

.button-next, .button-back {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 15px;
  width: fit-content;
  color: #484848;
  font-weight: 600;

  &:hover{
    background-color: #67bdb4;
    cursor: pointer;
  }

}

input[type="radio"]:checked+label {
  background-color: rgba(38, 166, 154, 0.7 );
  color: white;
}

fieldset {
  padding-left: 0px !important;
}

legend {
  font-size: 0.8rem;
  font-weight: bold;
  color: #9e9e9e !important;
  border: 0px;
  margin-bottom: 5px;
  font-size: 15px;
}

.item-circle {
  border-radius: 100%;
  color: grey;
  border: 2px solid grey;
  font-size: 10px;
  width:20px;
  height:20px;
  margin: 0 auto;
}

.boxItem {
  display: inline-block;
  border: 1px solid black;
  padding: 1em;
  margin-right: 15em;
  position: relative;
}
.boxItem:before,
.boxItem:after
{
  content:'';
  width:15em;
  border-bottom:2px solid grey;
  position:absolute;
  top:50%;

}
:after {
  left:100%;
}
:before {
  right:100%;
}
.boxItem:first-of-type:before,
.boxItem:last-of-type:after {
  display:none;
}
.boxContainer {
  white-space:nowrap;
  text-align:center;
}

.step-active {
  background-color: rgba(38, 166, 154, 0.7 );
}

.step-done {
  background-color: rgba(200,200, 200, 0.7);
}

.no-padded {
  padding-left:0px;
}


#new_house {
  legend, label {
    color: #484848 !important;
    // font-size: 12px !important;
  }
}

.step h4{
  font-size: 28px;
  font-weight: 800;
  color: #484848;
  margin-top: 0 !important;
}

.step-route h5{
  font-size: 15px;
  font-weight: 600;
  margin-top: 0px !important;
}

.test-form-one {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new_house fieldset {
  display: table;
}

.form-check {
    display: inline;
}

.form-check b {
    font-size: 14px;
    padding-left: 10px;
}

.small-field{
  height: 30px !important;
}

.big-label{
  font-size: 16px !important;
}


#owner-data {

   * { box-sizing: border-box; }
  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input[type=text] {
    // background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

}

.stop-overflow{
  overflow: hidden;
}

.house_equiped_kitchen{
  padding: 0px !important;
}

.category .fa, .far, .fas {
    font-weight: 900;
    width: 30px;
    height: 50px;
    border-radius: 50px;
    padding-top: 10px;
}

.marge-align h4{
  padding-left: 15px;
}
// .house_usage_type{
//   display: flex;
//   label span {
//     display: flex;
//     flex-direction: column;
//     height: 90px;
//     width: 90px;
//     margin: 0;
//   }
//   label{
//     display: block;
//     height: 90px;
//     width: 90px;
//     margin: 0;
//   }
// }

