  .container {
    width:90% !important;
  }

.content-left {
  h3 {
    color: $white;
    background-color: $blue;
    font-size: 24px;
    text-align:center;
    padding: 10px;
    border-radius:5px;
    margin-top:5px;
  }

}


  .content-flex {
    display:flex;
    justify-content:space-between;
  }

  .content-right {
    padding:10px;
      h3 {
      color: $white;
      background-color: $blue;
      font-size: 24px;
      text-align:center;
      padding: 10px;
      border-radius:5px;
      margin-top:5px;
    }
    // background: white;
    ul {
      display: flex-column;
      font-size: 16px;
    }
    li {
      display:flex;
      justify-content:space-around;
      align-items: center;
      margin-bottom: 10px;
    }
    a {

    }
    .pdf-link {
      width:15%;
    }
  .pdf-link i{
     color :#104F6A;
    }


    .doc-descr {
      width:55%;
      font-size: 10px
    }
    .doc-signature-status {
      width:15%
    }
    .doc-time-status {
      width:15%
    }

    hr {
      display: block;
       height: 2px;
       border-top: 2px solid $blue;
       // margin: 1em 0;
       // padding: 0;
    }

  }

  .icon-red{
    color: red;
  }

    .icon-green{
    color: green;
  }

  .row{
    padding: 10px;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
  }

  .wrap-inside {
    padding: 0 10px;
  }

  .empty-text {
    border: 1px solid black;
    padding: 0px 5px;
    color: gray
  }

  .white-back {
    background: $white;
    padding:10px;
  }

.background-blue {
  background: $blue;
  border-radius: 5px;
  padding: 10px;
  color: $white;
  font-size: 24px;
  text-align: center;
}

