  .container {
    width:90% !important;
  }


  .content-flex {
    display:flex;
  }

  .content-right {
    background: white;
  }

  .row{
    padding: 10px;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
  }

  .wrap-inside {
    padding: 0 10px;
  }

  .empty-text {
    border: 1px solid black;
    padding: 0px 5px;
    color: gray
  }

  .white-back {
    background: white;
    padding:10px;
  }



