.container {
  width:90% !important;
}

.white-back {
  p {
    font-size: 24px;
    padding: 5px;
    border-radius:3px;
    margin:0px;
  }

}
.content-right {
    h3 {
    color: $white;
    background-color: $blue;
    font-size: 24px;
    text-align:center;
    padding: 10px;
    border-radius:3px;
    margin: 0px;
  }
  // background: white;
  ul {
    display: flex-column;
    font-size: 16px;
  }
  li {
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin: 10px 5px;
  }
  a {

  }
  .pdf-link {
    width:15%;
  }
  .pdf-link i{
   color: #104F6A;
  }


  .doc-descr {
    width:55%;
    font-size: 10px
  }
  .doc-signature-status i{
    width:10%;
    margin-left: 5px;
    margin-bottom: 0px;
  }

  .pdf-sign{
    width:25%;
  }


  hr {
    display: block;
     height: 2px;
     border-top: 2px solid $blue;
     // margin: 1em 0;
     // padding: 0;
  }

}

.icon-red{
  color: red;
}

  .icon-green{
  color: green;
}

.row{
  padding: 10px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.wrap-inside {
  padding: 0 10px;
}

.empty-text {
  border: 1px solid black;
  padding: 0px 5px;
  color: gray
}

.white-back {
  background: $white;
  padding: 5px;
  margin: 10px 0px;
  border-radius: 3px;
}

.background-blue {
  background: $blue;
  border-radius: 5px;
  padding: 10px;
  color: $white;
  font-size: 24px;
  text-align: center;
}

.content-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 10px;
  margin: 0px;
  padding: 20px;
  border-radius: 1px;
  background-size: cover !important;
  height: 60vh;
  background-position: center;
  width: 100%;
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px);
}

.house-description-show{
  border-radius: 4px;
  i, p {
    color: $white;
    margin: 5px;
  }
}
.avatar-border {
  border: 1px solid $blue;
}

.title-icon {
  display: flex;
  align-items: center;
  p {
    margin-right: 15px;
  }
  i {
    font-size: 25px;
    color: $light-blue;
  }
}

.flex-banner-map {
  display: flex;
}

.reset-boot {
  padding: 0 !important;
  margin: 0 !important;
}
