.text-center {
  text-align: center;
}

.content {
  font-size: 40px;
}

.big-text {
  font-size: 40px;
}

h1.to_hide {
  color: white;
}

.data{
  color: blue;
  font-weight: bolder;
}

h1.signature {
  justify-content: right;
}
